@import "vars";

@import "~bootstrap/scss/bootstrap";

.table {
    margin-left: 15px;
    margin-right:15px;
}

.titreListe {
    margin-left: 15px;
    margin-right:15px;
}

.btn-success {
    margin-left: 15px;
    margin-right:15px;
}

footer{
	margin-top: 100px;
}
