.map{
	width:80%;
	height:800px;
    margin: 0 auto;
}

.marker {
    width: 7px;
    height: 7px;
    border: 1px solid #088;
    border-radius: 10px;
    background-color: #0FF;
    opacity: 0.5;
}

.label{
	color:black;
	font-size: 10px;
}

button{
    margin-bottom: 15px;
}

.flexbut{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabSouches{
        margin-bottom: 20px;
    }

@media screen and (max-width: 540px ){

    button{
        padding:15px;
    }

    .map{
        height: 400px;
    }

}