{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <p>Utilisateur connecté : {{ app.user.username }}</p>
    <h1 class = "titreListe" >Modifier un prélèvement</h1>

    {{ include('strain/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('strain/_delete_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('strain_index') }}">Retour</a>
{% endblock %}
