{% extends 'base.html.twig' %}

{% block title %}Enregistrer{% endblock %}

{% block body %}
    <h1>Enregistrer un nouveau prélèvement</h1>

    {{ include('strain/_form.html.twig') }}

    <a href="{{ path('strain_index') }}">Retour vers la liste des résultats</a>
{% endblock %}
