{% extends 'base.html.twig' %}

{% block title %}Enregistrer{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    <h1>Enregistrer un nouveau prélèvement</h1>

    {{ include('strain/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('strain_index') }}">Retour</a>
{% endblock %}
