{% extends 'base.html.twig' %}

{% block title %}Enregistrer{% endblock %}

{% block body %}
    <h1 class = "titreListe">Enregistrer un nouveau prélèvement</h1>

    {{ include('strain/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('strain_index') }}">Retour</a>
{% endblock %}
