{% block footer %}
<footer class="footer" style=" width: 100%; z-index: 2;" >

<div class="card text-center card text-white bg-dark mb-3">
  <div class="card-header">
    RHC CPIAS
  </div>
  <div class="card-body">
   
    <p class="card-text">Ce site a été réalisé par les élèves de la Wild Code School de Tours.</p>
    <a href="#" class="btn btn-primary">Mentions légales</a>
  </div>
</div>
</fotter>

{% endblock %}


<div class="card fixed-bottom text-center card text-white">

    <p class="card-text">Ce site est réalisé par les élèves de la Wild Code School de Tours</p>
    <p class="card-text" href="#">Mentions légales</p>
</nav>
</div>
</footer>
{% endblock %}

