{% extends 'base.html.twig' %}

{% block title %}Edit Finess{% endblock %}

{% block body %}
    <p>Utilisateur connecté : {{ app.user.username }}</p>
    <h1 class = "titreListe">Modifier établissement</h1>

    {{ include('finess/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-info" href="{{ path('finess_index') }}">Retour</a>

    {{ include('finess/_delete_form.html.twig') }}
{% endblock %}
