{% extends 'base.html.twig' %}

{% block title %}New Finess{% endblock %}

{% block body %}
    <h1 class = "titreListe">Enregistrer un nouvel etablissement</h1>

    {{ include('finess/_form.html.twig') }}

    <a href="{{ path('finess_index') }}">Retour</a>
{% endblock %}
