{% extends 'base.html.twig' %}
{% block body %}
<h1>Ajouter un fichier d'établissment</h1>
        {{ form_start(form)}}
                {{ form_widget(form) }}
                <input class="btn" type="submit" value="Envoyer">
        {{ form_end(form) }}
{% endblock %}